<a href="https://colab.research.google.com/github/Ashwithkumar008/datanalytics1/blob/main/Python_Basics_Data_Handling_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Statistics

In [ ]:
571+95

666

In [ ]:
19*17

323

In [ ]:
571+95
19*17
print(57+39)

96

In [ ]:
# use hash(#) for comments
#Division example
34/56

0.6071428571428571

## Errors

In [ ]:
Print(600+900) #used Print() instead of print()

NameError: ignored

In [ ]:
576-'96'

TypeError: ignored

# Variable Assignment

In [ ]:
income=12000
income

12000

In [ ]:
x=20
x

20

In [ ]:
y=30
z=x*y
z

600

In [ ]:
name="Jack"
name

'Jack'

In [ ]:
print(name)
print("Name is ", name)

Jack
Name is  Jack

# Variable Assignments

In [ ]:
1x=20 #Doesn't work

SyntaxError: ignored

In [ ]:
x1=20 #works
x1

20

In [ ]:
x.1=20 #Doesn't work
x.1

In [ ]:
x_1=20 #works
x_1

# Strings

In [ ]:
#Defining Strings
name="sheldon"
msg="Data Science Classes"

In [ ]:
# Accessing strings
print(name[0]])
print(name[1])

In [ ]:
#This is as good as substring
print(msg[0:9])

In [ ]:
#length of string
print(len(msg))
print(msg[10:len(msg)])

In [ ]:
#Displaying string multiple time
msg="Site under Construction"
msg*10

In [ ]:
#String Concatenation
msg1="Site under Construction "
msg2=msg1+"Go to home page \n"
print(msg2*10)

# Lists

In [32]:
mylist1=['Kumar','Rakul','Rathish']
mylist1[0]
mylist1[1]

'Rakul'

In [ ]:
#Creating a list
mylist1=['Sheldon','Tommy', 'Benny']

#Accessing list elements
mylist1[0]

# Dictionaries

In [47]:
names={1:"Kumar", 9:"Raju", 10:"Esh"}
names
names[1]

'Kumar'

In [50]:
edu={"Kumar":"Bcom", "Gill":"Mcom", "Ashu":"Phd"}
edu

edu["Ashu"]

'Phd'

In [ ]:
city={9:"LA", 8:"PA" , 7:"FL"}
city

city[0]

In [ ]:
#Make sure that we give the right key index while accessing the elements in dictionary
names={1:"David", 6:"Bill", 9:"Jim"}
names
names[0]
names[1]
names[2]
names[6]
names[9]

In [52]:
edu={"David":"Bsc", "Bill":"Msc", "Jim":"Phd"}
edu


edu["David"]

'Bsc'

In [56]:
names={"student1":"Ashwith","student2":"Rakul","student3":"Rathish"}
names["student1"]

'Ashwith'

In [ ]:
print(names.keys())

In [ ]:
print(names.values())

# Packages

In [ ]:

import numpy as np

income = np.array([9000, 8500, 9800, 12000, 7900, 6700, 10000])
print(income)
print(income[0])

expenses=income*0.65
print(expenses)

savings=income-expenses
print(savings)

In [ ]:
import pandas as pd
bank= pd.read_csv('https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Bank%20Tele%20Marketing/bank_market.csv')

print(bank)

In [ ]:
import matplotlib as mp

X = np.random.normal(size=1000)
print(X)

Y = np.random.normal(size=1000)
print(Y)

mp.pyplot.scatter(X,Y)

In [ ]:
Sales = pd.read_csv("https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/Superstore%20Sales%20Data/Sales_sample.csv")

print(Sales)

In [ ]:
wb_data = pd.read_excel("https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/World%20Bank%20Data/World%20Bank%20Indicators.xlsx", "Data by country")

print(wb_data)

#Subsetting

In [ ]:
import pandas as pd
#Include encoding = "ISO-8859-1" or encoding = "utf8" to tackle the error
gdp=pd.read_csv("https://raw.githubusercontent.com/venkatareddykonasani/Datasets/master/World%20Bank%20Data/GDP.csv",encoding = "ISO-8859-1")

print(gdp.shape)
print(gdp.columns.values)

In [ ]:
#New dataset with first few rows
gdp1 = gdp.head(10)
gdp1

In [ ]:
#New dataset with selected rows
Index_list=[2,9,15,25]
gdp2=gdp.iloc[Index_list]
gdp2

In [ ]:
gdp2=gdp.iloc[[2,9,15,25]]
gdp2

In [ ]:
#New dataset by keeping selected columns
gdp3 = gdp[["Country", "Rank"]]
gdp3

In [ ]:
gdp4 = gdp[["Country", "GDP"]].iloc[0:10]
gdp4

In [ ]:
#New data by excluding rows
gdp6=gdp.drop(range(0,20))
gdp6

In [ ]:
#New data by excluding columns
gdp5=gdp.drop(["Country_code"])

In [ ]:
#Use axis =1 ; 0 for rows and 1 for column; Default value is 0
gdp5=gdp.drop(["Country_code"], axis=1)
gdp5

In [ ]:
#Use axis =0 ; for dropping rows. Default value is 0
gdp6=gdp.drop(range(0,20), axis=0)
gdp6

# Filters

In [ ]:
#Selection with a condition on variables
bank_subset=bank[bank["balance"]>1000]
bank_subset

In [ ]:
#And condition & filters
bank_subset1=bank[(bank ["balance"]>1000) &  (bank["loan"]=="no")]
bank_subset1

In [ ]:
#OR condition & filters
bank_subset2=bank[(bank ["balance"]>1000) |  (bank["loan"]=="no")]
bank_subset2

In [ ]:
print (name[0])

K

In [ ]:
name = "Kumar"
print ("name is", name)
print ("Kumar is the strongest")

name is Kumar
Kumar is the strongest

In [ ]:
print (len(name))

5

In [28]:
name = "Kumar"
msg = " Janson school of business"
print (name + msg)

Kumar Janson school of business

In [ ]:
print (msg[1])

a

In [ ]:
print (msg[7])

s